.main{
	width:200px;
	background:purple;
	
	
	padding:10px;
	border-left:5px solid green;
	 
}
.main{
	font-style:normal;
	text-decoration-line: underline;
	font-size:20px;
	color:white;
}
/* Your CSS Code here. */